.page-reference .bracket {
  opacity: 1;
}

textarea::selection {
  background-color: black !important;
  color: white !important;
}

.bullet-container .bullet {
  background-color: black !important;
}

svg {
  color: black !important;
}

#repo-name {
  color: black !important;
}

.dropdown-wrapper {
  border: 1px solid black !important;
}

.search-ac {
  border: 1px solid black !important;
}
.absolute-modal {
  border: 1px solid black !important;
}
.ui__ac-group-name {
  color: black !important;
}
a.chosen {
  background-color: black !important;
  color: white !important;
}
